extends layout

block content
  h1= title
  - let image_names = ["Onions1.jpg","Onions2.jpg","Onions3.jpg","Onions4.jpg","Onions5.jpg"]
   -for(let i=0; i<3; i++){
    -let random= Math.floor(Math.random()*5)
     img(src=`/images/${image_names[random]}` alt=`Image Name k${random}` height="300px" width="300px")
    -}
  
